body{
    margin: 0;

}
.container{
    background-color: wheat;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;
    height: 300px;
}
.item{
    flex-grow:1;
    flex-basis: 500px;
}

.item1{
       background-color: blueviolet; 
       flex-shrink: 4;
}
.item2{
    background-color: lightcoral; 
    flex-grow:2;
}
.item3{
    height:100px;
    background-color: lightgreen; 
    align-self: flex-end;
}
.item4{
    order:-1;
    background-color:teal; 
}